@import variables
@import ../../lib/materialize/sass/materialize
@import colour

.cgi-card
  .card-reveal p
    word-break: break-all


footer.page-footer
    margin: 0

#ThreeJS
  position: relative


.parallax-container
  min-height: 380px
  line-height: 0
  height: auto
  img
    background-size: cover
    background-repeat: no-repeat
  .section
    width: 100%