<div class="container">
    <div class="section">
        <h1 class="header center">Registered games</h1>
        <div class="row">
            <input type="text" ng-model="adminCtrl.searchGames" >
        </div>
        <div class="row">
            <div ng-repeat="game in adminCtrl.games | filter: {title: adminCtrl.searchGames}" class="col s12 m12 l4">
                <div class="card small cgi-card cgi-cherry-red text-cgi-cherry-red">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" ng-src="{{game.picture}}">
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title activator text-cgi-cherry-red">{{game.title}}</span>
                        <p>{{game.shortDescription}}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{game.title}} <i class="mdi-navigation-close right"></i></span>
                        <p>{{game.fullDescription}}</p>
                    </div>
                    <div class="card-action text-cgi-honey">
                        <a ng-href="#/admin/edit/{{game.id}}">Edit</a>
                        <a ng-href='#/admin/end/{{game.id}}'>End</a>
                        <a ng-href='#/admin/delete/{{game.id}}'>Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div access="Admin" access-permission-type="atLeastOne" class="fixed-action-btn">
            <a class="btn-floating btn-large cgi-cherry-red">
                <i class="large mdi-editor-mode-edit"></i>
            </a>
        </div>
    </div>
</div>