<div class="container">
    <div class="section">
        <h1 class="header center">Login</h1>
        <form name="loginForm" novalidate>
            <div class="login">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <input name="email"
                               ng-model="loginCtrl.email"
                               id="email"
                               type="email"
                               ng-class="{ 'valid': loginForm.email.$valid, 'invalid': loginForm.email.$invalid && loginForm.email.$touched }"
                               required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input name="password"
                               ng-model="loginCtrl.password"
                               id="password"
                               type="password"
                               ng-class="{ 'valid': loginForm.password.$valid, 'invalid': loginForm.password.$invalid && loginForm.password.$touched }"
                               ng-minlength="6"
                               required>
                        <label for="email">Password</label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"
                                data-ng-click="loginCtrl.login()"
                                ng-disabled="loginForm.$invalid || !loginForm.$dirty">
                            Login
                        </button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

