<div class="container">
    <div class="section">
        <h1 class="header center">{{adminDetailCtrl.title}}</h1>
        <div class="row">
            <div class="col s4 m4 l4">
                <br/>
            </div>
            <div class="col s4 m4 l4">
                <div class="card small cgi-card cgi-cherry-red text-cgi-cherry-red">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" ng-src="{{adminDetailCtrl.event.image}}">
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title activator text-cgi-cherry-red">{{adminDetailCtrl.event.name}}</span>

                        <p>{{adminDetailCtrl.event.shortDescription}}</p>
                    </div>
                    <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{adminDetailCtrl.event.name}} <i
                                    class="mdi-navigation-close right"></i></span>

                        <p>{{adminDetailCtrl.event.longDescription}}</p>
                    </div>
                    <div class="card-action text-cgi-honey">

                    </div>
                </div>
            </div>
            <div class="col s4 m4 l4">
                <br/>
            </div>
        </div>
        <div class="divider"></div>
        <form name="event" novalidate>
            <div class="row">
                <div class="input-field col s6">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input name="name"
                           ng-model="adminDetailCtrl.event.name"
                           ng-class="{ 'valid': adminDetailCtrl.event.name.$valid, 'invalid': adminDetailCtrl.event.name.$invalid && !adminDetailCtrl.event.name.$pristine }"
                           id="name"
                           type="text"
                           ng-minlength=3
                           ng-maxlength=20
                           required>

                    <label class="active" for="name">Name</label>

                    <p ng-show="adminDetailCtrl.event.name.$error.minlength && !adminDetailCtrl.event.name.$pristine"
                       class="help-block">name is too short.</p>

                    <p ng-show="adminDetailCtrl.event.name.$error.maxlength && !adminDetailCtrl.event.name.$pristine"
                       class="help-block">name is too long.</p>
                </div>
                <div class="input-field col s2">
                    <i class="mdi-communication-size prefix"></i>
                    <input name="size"
                           ng-model="adminDetailCtrl.event.size"
                           id="size"
                           type="number"
                           ng-class="{ 'valid': adminDetailCtrl.event.size.$valid, 'invalid': adminDetailCtrl.event.size.$invalid && !adminDetailCtrl.event.size.$pristine }"
                           required>
                    <label class="active" for="size">size</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input name="shortDescription"
                           id="shortDescription"
                           type="text"
                           ng-model="adminDetailCtrl.event.shortDescription"
                           ng-class="{ 'valid': adminDetailCtrl.event.shortDescription.$valid, 'invalid': adminDetailCtrl.event.shortDescription.$invalid && !adminDetailCtrl.event.shortDescription.$pristine }"
                           ng-minlength=3
                           ng-maxlength=20
                           required>
                    <label class="active" for="shortDescription">Description</label>

                    <p ng-show="adminDetailCtrl.event.shortDescription.$error.minlength && !adminDetailCtrl.event.shortDescription.$pristine"
                       class="help-block">description is too short.</p>

                    <p ng-show="adminDetailCtrl.event.shortDescription.$error.maxlength && !adminDetailCtrl.event.shortDescription.$pristine"
                       class="help-block">description is too long.</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-communication-phone prefix"></i>
                    <textarea name="longDescription"
                              ng-model="adminDetailCtrl.event.longDescription"
                              id="longDescription"
                              class="materialize-textarea"
                              ng-class="{ 'valid': adminDetailCtrl.event.longDescription.$valid, 'invalid': adminDetailCtrl.event.longDescription.$invalid && !adminDetailCtrl.event.longDescription.$pristine }"
                              required></textarea>
                    <label class="active" for="longDescription">Full description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="image"
                           name="image"
                           type="text"
                           ng-model="adminDetailCtrl.event.image"
                           ng-class="{ 'valid': adminDetailCtrl.event.image.$valid, 'invalid': adminDetailCtrl.event.image.$invalid && !adminDetailCtrl.event.image.$pristine }"
                           required>
                    <label class="active" for="image">Image URL</label>
                </div>
            </div>
        </form>
        <!--<h2 class="header center">New Members</h2>-->
        <!--<div ui-grid="adminDetailCtrl.gridOptions" ui-grid-selection ui-grid-exporter class="grid" style="width: 100%"></div>-->
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary"
                        data-ng-click="adminDetailCtrl.submit()"
                        ng-disabled="event.$invalid || !event.$dirty">
                    Submit
                </button>
            </div>
        </div>
        </div>
    </div>
</div>