
<div ng-init="cowCtrl.init()" id="ThreeJS"></div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
</div>
<div id="modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Fill in form</h4>
        <div class="row">
            <form name="cowCtrl.userForm" ng-submit="cowCtrl.submit(cowCtrl.userForm.$valid)" class="col s12" novalidate>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input name="first_name"
                               ng-model="cowCtrl.person.first_name"
                               ng-class="{ 'valid': cowCtrl.userForm.first_name.$valid, 'invalid': cowCtrl.userForm.first_name.$invalid && !cowCtrl.userForm.first_name.$pristine }"
                               id="first_name"
                               type="text"
                               ng-minlength=3
                               ng-maxlength=20
                               required>

                        <label for="first_name">First Name</label>
                        <p ng-show="cowCtrl.userForm.first_name.$error.minlength && !cowCtrl.userForm.first_name.$pristine" class="help-block">Firstname is too short.</p>
                        <p ng-show="cowCtrl.userForm.first_name.$error.maxlength && !cowCtrl.userForm.first_name.$pristine" class="help-block">Firstname is too long.</p>
                    </div>
                    <div class="input-field col s6">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input name="last_name"
                               id="last_name"
                               type="text"
                               ng-model="cowCtrl.person.last_name"
                               ng-class="{ 'valid': cowCtrl.userForm.last_name.$valid, 'invalid': cowCtrl.userForm.last_name.$invalid && !cowCtrl.userForm.last_name.$pristine }"
                               ng-minlength=3
                               ng-maxlength=20
                               required>
                        <label for="last_name">Last Name</label>
                        <p ng-show="cowCtrl.userForm.last_name.$error.minlength && !cowCtrl.userForm.last_name.$pristine" class="help-block">Lastname is too short.</p>
                        <p ng-show="cowCtrl.userForm.last_name.$error.maxlength && !cowCtrl.userForm.last_name.$pristine" class="help-block">Lastname is too long.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <input name="email"
                               ng-model="cowCtrl.person.email"
                               id="email"
                               type="email"
                               ng-class="{ 'valid': cowCtrl.userForm.email.$valid, 'invalid': cowCtrl.userForm.email.$invalid && !cowCtrl.userForm.email.$pristine }"
                               required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-phone prefix"></i>
                        <input name="telephone"
                               ng-model="cowCtrl.person.telephone"
                               id="icon_telephone"
                               type="tel"
                               ng-class="{ 'valid': cowCtrl.userForm.telephone.$valid, 'invalid': cowCtrl.userForm.telephone.$invalid && !cowCtrl.userForm.telephone.$pristine }"
                               required>
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="jobInterest"
                                  name="jobInterest"
                                  class="materialize-textarea"
                                  ng-model="cowCtrl.person.jobInterest"
                                  ng-class="{ 'valid': cowCtrl.userForm.jobInterest.$valid, 'invalid': cowCtrl.userForm.jobInterest.$invalid && !cowCtrl.userForm.jobInterest.$pristine }"
                                  required></textarea>
                        <label for="jobInterest">Job interest</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="knowCgi"
                                  name="knowCgi"
                                  class="materialize-textarea"
                                  ng-model="cowCtrl.person.knowCgi"
                                  ng-class="{ 'valid': cowCtrl.userForm.knowCgi.$valid, 'invalid': cowCtrl.userForm.knowCgi.$invalid && !cowCtrl.userForm.knowCgi.$pristine }"
                                  required></textarea>
                        <label for="knowCgi">How do you know CGI</label>
                    </div>
                </div>
                <div class="row">
                    <!-- SUBMIT BUTTON -->
                    <button type="submit" ng-disabled="cowCtrl.userForm.$invalid" class="btn btn-primary">Submit</button>
                    <button  type="reset" ng-click="cowCtrl.reset(cowCtrl.userForm)" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>